@{
    ViewData["Title"] = "CONTACT";
}
<h2>@ViewData["Title"].</h2>
<img src="~/images/car1.jpg" />

<h3 style="color:saddlebrown">For Any Car Rental related quary please contact:</h3>

<address style="color:saddlebrown">
    SAM DHOKWAL<br />
    OWNER AND OPERATOR<br />
   SAM CAR RENTALS<br />
    E: INFO.RENTALCARS.CO.NZ<br />
    P:09-8899-77<br />
</address>


